{% extends "base.html" %}
{% block title %}
    Music Fan - Lodging results near {{ concert.venue_name }}
{% endblock %}
{% block content %}
<div class="page-header">
        <div class="row">
            <div class="col-md-4">
             <img src="/img/flaticon_bed_800px.png" alt="a cozy bed" class="img-responsive">
            </div>
            <div class="col-md-8 center-block">
                <h1>Hotel search</h1>
                <p>Lodging near {{ concert.venue_name }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Hotel</th>
                        <th>Distance</th>
                        <th>Rating</th>
                        <th>Info</th>

                    </tr>
                    {% for place_tuple in hotel_list %}
                        <tr>
                            <td>{{ place_tuple[0].name }}</td>
                            <td>{{ '%.1f' % place_tuple[1] }} mi</td>
                            <td>{{ place_tuple[0].rating }}</td>
                            <td>
                                <div class>{{ place_tuple[0].vicinity }}</div>
                                <div class="small">Ph: {{ place_tuple[0].local_phone_number }}</div>
                            </td>
                        </tr>
                    {% else %}
                        <tr><td>No hotels found!</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
<!-- put/load any scripts that are specific to this page here -->
{% endblock %}
